body{
    margin: 0;
    margin-bottom: 20px;
    /* margin at bottom to leave space after last picture */
}

.headbar-background{
    margin: 0;
    height: 120px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);   
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.logo{
    max-width: 1100px;
    margin: 0 auto;
    /* same settings as container to ensure same behaveiour */
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 240px;
}

/* no margin between the title and the author */
header h1{
    margin-bottom: 0;
}

/* margin to add space between pictures and header */
#pictures{
    margin-top: 20px;
}

/* fix to align list with the rest of the page */
ul{
    padding: 0;
    list-style-position: inside;
}

table{
    border-collapse: collapse;
}

th{
    text-align: left;
    background-color: #20a9e5;
    color: white;    
}

/* to give only the figure inside the footer the original images' size */
footer figure{
    height: 208px;
    width: 312px;
}

/* to format text inside images */
figure h2{
    color: white;
    padding: 10px;
}

#monitor{
    background-image: url(../img/monitor.jpg);
}

#graph{
    background-image: url(../img/graph.jpg);
}

/* utilites */
.small-column{
    width: 25%;
}

.big-column{
    width: 50%;
}

.blue-table{
    background-color: #b1e5f2;
}

.grey-text{
    color: grey;
}

.blue-text{
    color: #4ea0ff;
}

.small-text{
    font-size: 12px;
}

.highlighted-text{
    background-color: yellow;
}

figure{
    margin: 0;
}