body{
    margin: 0;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.headbar{
    height: 120px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
}

.logo{
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 25%;
}

header h1{
    margin-bottom: 0;
}

#pictures{
    margin-top: 20px;
}

/* utilites */

.grey-text{
    color: grey;
}

.blue-text{
    color: #4ea0ff;
}

.small-text{
    font-size: 12px;
}